Workspace/day29/XML-Schema/page8.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="person" minOccurs="1" maxOccurs="5">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="age" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>  
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>