Workspace/day29/XML-Schema/page7.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">

    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        
        <xs:element name="gender">
          <xs:complexType>
            <xs:choice>
              <xs:element name="male" type="xs:string" />
              <xs:element name="female" type="xs:string" />
            </xs:choice>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
    
  </xs:element>
</xs:schema>