Workspace/day29/XML-Schema/page6.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:all>
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:integer" />
        <xs:element name="address" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>