Workspace/day29/XML-Schema/page9.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
  
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:integer" />

        <xs:element name="phone">
          <xs:complexType>
            <xs:attribute name="provider" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

  </xs:element>
</xs:schema>